$clr-primary-pink:hsl(322, 100%, 66%);
$clr-primary-white:hsl(0, 0%, 100%);
$clr-neutral-very-pale-cyan: hsl(193, 100%, 96%);
$clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
$clr-neutral-grayish-blue: hsl(208, 11%, 55%);
$ff-p:"Poppins", sans-serif;
$ff-s:"Open Sans", sans-serif;

$fw-p-normal:600;

$fw-s-bold:700;
$fw-s-normal:400;

$fs-500:1.125rem;
$fs-600:2rem;
$fs-400:0.875rem;
$borer-rd:1rem;